/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	padding: 5px 20px;
	/*adicionando imagem ao icone da lista
	background: url(../Imagens/seta.png) no-repeat left center;
}*/
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul a{
	width: 200px;
	height: 40px;
	display: block;/*pq os links são elementos inline e pra encaixar a imagem;*/
	background: #f7b600 url(../Imagens/menu.png) no-repeat left bottom;	
	/*estilizando o link*/
	color: #000;
	text-decoration: none;
	text-indent: 40px;/*em toda primeiralinha ele vai add 40px de espaço*/
	line-height: 40px;

}
a:hover{
	/*Vai apenas movimentar a imagem que já existe com position*/
	background-position: right bottom;	
	color:#fff;
	background-color: #f99200;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a{
	background-position: right bottom;	
	color:#fff;
	background-color: #f99200;
}